@tailwind base;
@tailwind components;
@tailwind utilities;

.phone-frame-content > * {
  min-height: 100%;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
